extends layout

block content
    section.section
        .section-inner
            h1.section-title Menu

            .menu-grid
                .menu-column
                    h2.menu-heading Donuts
                    ul.menu-list
                        li.menu-item
                            span.item-name Classic Glazed
                            span.item-price $2.25
                        li.menu-item
                            span.item-name Chocolate Sprinkles
                            span.item-price $2.50
                        li.menu-item
                            span.item-name Maple Bar
                            span.item-price $2.75
                        li.menu-item
                            span.item-name Jelly-Filled
                            span.item-price $2.75

                .menu-column
                    h2.menu-heading Coffee & Drinks
                    ul.menu-list
                        li.menu-item
                            span.item-name Drip Coffee
                            span.item-price $2.00
                        li.menu-item
                            span.item-name Latte
                            span.item-price $4.50
                        li.menu-item
                            span.item-name Cappuccino
                            span.item-price $4.25
                        li.menu-item
                            span.item-name Cold Brew
                            span.item-price $4.00

                .menu-column
                    h2.menu-heading Seasonal
                    p.section-subtle Check in-store or on social media for rotating flavors and drinks.
